body {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}

.location {
  font-size: 1.1em;
  font-weight: 600;
}

.nav-item > .nav-link:hover,
svg:hover {
  color: rgb(255, 85, 0);
}

.shopcount{
  color: rgb(255, 85, 0);
}

.search:focus {
  border: 2px solid rgb(189, 91, 42);
  caret-color: rgb(255, 85, 0);
}

.header {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em 0.8em;
  background-color: rgb(243, 243, 243);
}

.restaurants {
  border-radius: 10%;
}

.rNameC {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.8em;
  color: rgb(88, 86, 86);
}

.rName {
  font-size: 22px;
  color: rgb(111, 110, 110);
  font-weight: bolder;
}

.footer {
  background-color: rgb(37, 37, 37);
  padding: 4rem 0;
  margin-top: 2em;
}

.mRestName {
  padding-top: 0.5em;
  font-size: 22px;
  color: rgb(56, 56, 56);
  font-weight: bolder;
}

.typesAvail {
  font-size: small;
  color: rgb(128, 128, 128);
}

.rHeader {
  border-bottom: 0.3px dotted rgb(118, 118, 118);
}

.fs {
  font-size: 0.7rem;
}
.fs1 {
  font-size: 0.72rem;
}

.bestS,
.fa-star {
  color: #ee9c00;
  padding-left: 0.2em;
  font-size: 0.8em;
}

.dishN {
  color: rgb(75, 75, 75);
  font-size: medium;
}

.price {
  color: rgb(75, 75, 75);
  font-size: medium;
}

.ingre {
  font-size: 0.8em;
  color: rgba(40, 44, 63, 0.45);
}

.btn-outline-success {
  border: none;
}

.btn-outline-success:hover {
  color: green;
}

.btn-outline-danger:hover {
  color: rgb(211, 0, 0);
}

.foodPhoto1 {
  border-radius: 10%;
}

.dis-flex{
  display: flex;
}

.itemC {
  padding-bottom: 20px;
  border-bottom: 0.3px dotted rgb(118, 118, 118);
}

.fssai {
  border-bottom: 0.3px dotted rgb(118, 118, 118);
}

.searchBar {
  position: relative;
}

#searchresult {
  position: absolute;
  top: 100%;
  height: 17rem;
  width: 98.2%;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}




